{% extends "app/layout.html" %}
{% block content %}

{% if form != None %}
  <br><h2>Оставьте отзыв</h2><br>
    <div>
        <form method="post">
        {% csrf_token %}
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
        {{ form.name }}<br><br>
        <label for="{{ form.product.id_for_label }}">{{ form.product.label }}:</label>
        {{ form.product }}<br><br>
        <label for="{{ form.score.id_for_label }}">{{ form.score.label }}:</label>
        {{ form.score }}<br><br>
        <label for="{{ form.notice.id_for_label }}">{{ form.notice.label }}:</label>
        {{ form.notice }}<br><br>
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
        {{ form.email }}<br><br>
        <label for="{{ form.message.id_for_label }}">{{ form.message.label }}:</label>
        {{ form.message }}<br><br>
        <input type="submit" value="Отправить">
        </form>
    </div>
{% else %}
 <br><h2>Благодарим за отзыв!</h2>
 <h3>Информация:</h3>
 <ul>
     <li><span>Имя:</span>{{data.name}}</li>
     <li><span>Оценка продукции:</span>{{data.product}}</li>
     <li><span>Оценка обслуживания:</span>{{data.score}}</li>
     <li><span>Получать новости сайта на e-mail:</span>{{data.notice}}</li>
     <li><span>Ваш e-mail:</span>{{data.email}}</li>
     <li><span>Ваш отзыв:</span>{{data.message}}</li>
 </ul>
{% endif %}
{% endblock %}